<div class="container">
  <div class="left-container">
    <div class="top-div">
      <app-filter (filterAppliedEmmit)="OnFilter($event)"></app-filter>
    </div>
    <div class="bottom-add-user">
      <app-user-add-button (userAdded)="addUser($event)"></app-user-add-button>
    </div>
    <div class="main-left-div">
      <app-user-list
        [users]="userListFiltered"
        (userSelected)="userSelected($event)"
      ></app-user-list>
    </div>
  </div>

  <div class="right-div">
    <app-user-details
      [user]="selectedUser"
      *ngIf="showUserDetails"
    ></app-user-details>
  </div>
</div>
